playwright==1.49.1
pytest==8.3.4
pytest-playwright==0.6.2
pytest-xdist==3.6.1
pytest-rerunfailures==15.0
pytest-env==1.1.5
allure-pytest==2.13.5
jsonschema==4.23.0
pydantic==2.10.4
pyyaml==6.0.2
python-dotenv==1.0.1
loguru==0.7.3
faker==33.1.0
sqlalchemy==2.0.36
pymysql==1.1.1
psycopg2-binary==2.9.10
pymongo==4.10.1
tenacity==9.0.0
requests==2.32.3
